{% extends 'base.html'  %}
{% block title %}User Details{% endblock %}

{% block content %}
<h1 class="display-1 text-center">User Details</h1>

  <div class="card my-4">
    <div class="card-body">
      <h3 class="card-title text-warning text-center">
        {{user.username}}
      </h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
         <b>First Name: </b>{{user.first_name}}
        </li>
        <li class="list-group-item">
          <b>Last Name:</b> {{user.last_name}}
          </li>
          <li class="list-group-item">
          <b>Email: </b>{{user.email}}
          </li>
        </ul>
    </div>
  </div>
</div>

<div class="container">
  <h4 class="display-4 text-center">Research</h4>
  <ul class="list-group">
    {% for feedback in user.feedback %}
    <li class="list-group-item">
      <b>Title:</b> {{feedback.title}}
      <p>{{feedback.content}}</p>

      <form>
        {{form.hidden_tag()}}
        <button class="btn btn-primary" formmethod="GET" formaction="/feedback/{{ feedback.id }}/update">Edit</button>
        <button class="btn btn-danger" formmethod="POST" formaction="/feedback/{{ feedback.id }}/delete">Delete</button>
      </form>
    </li>
    {% endfor %}
  </ul>

  <p class="my-4 text-center">
    <a href="/users/{{ user.username }}/feedback/add" class="btn btn-success">Add proposal</a>
  </p>
  <form class="my-4 text-center">
    <button class="btn btn-danger" formaction="/users/{{ user.username }}/delete" formmethod="POST">Delete Account</button>
  </form>
</div>

{% endblock %}